---
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";

import { getAgents } from "../../../services/agents.ts";
const agents = await getAgents();
---

<Layout title="Duelistas">
	<section class="max-w-[1436px] mx-auto flex flex-wrap center items-center gap-4 p-4">
		{
			agents.filter((agent) => agent.role.displayName.toString() === "Duelista").map((agent, index) => (
				<Card
					href={`${agent.displayName.replace("/", "").toLowerCase()}`}
					id={index.toString()}
					color_1={agent.backgroundGradientColors[0]}
					color_2={agent.backgroundGradientColors[1]}
					background={agent.background}
					bustPortrait={agent.bustPortrait}
					agentName={agent.displayName}
				/>
			))
		}
	</section>
</Layout>
