---
import "@fontsource-variable/oswald";
import { Image } from "astro:assets";

interface Props {
  href: string;
  id: string;
  color_1: string;
  color_2: string;
  background: string;
  bustPortrait: string;
  agentName: string;
}

const { href, id, color_1, color_2, background, bustPortrait, agentName } = Astro.props
---

<a href={href} id={id} class={`max-sm:min-w-full max-w-[300px] max-h-[500px] flex flex-col container overflow-hidden`} style={`background-image: radial-gradient(circle, #${color_1}, #${color_2})`}>
  <div class="w-full h-[475px] relative">
    <Image src={background} alt={`background-${agentName}`} inferSize={true} format="avif" class="w-full h-full object-cover absolute" />
    <Image src={bustPortrait} alt={`bust-portrait-${agentName}`} inferSize={true} format="avif" class="w-full h-full object-cover absolute transition" id={`bustPortrait-${id}`} />
  </div>
  <p id={`displayName-${id}`} class="font-extrabold text-xl uppercase leading-6 py-3 px-4 py-auto bg-white transition-colors">{agentName}</p>
</a>

<style>
  p {
    font-family: 'Oswald Variable', sans-serif;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const $container = document.querySelectorAll(".container")
    
    $container.forEach((card, index) => {
      const $img = document.getElementById(`bustPortrait-${index}`)
      const $displayName = document.getElementById(`displayName-${index}`)

      card.addEventListener('mouseover', () => {
        $img.classList.add("scale-110")
        $displayName.classList.remove("bg-white")
        $displayName.classList.add("text-white")
      })
      
      card.addEventListener('mouseout', () => {
        $img.classList.remove("scale-110")
        $displayName.classList.add("bg-white")
        $displayName.classList.remove("text-white")
      })
    })

  })
</script>