---
import "@fontsource-variable/oswald";
import { Image } from "astro:assets";
import fetchAgents from "../api/agents.js";

const agents = await fetchAgents;
---

{
  agents.map((agent, index) => (
    <a href={`agent/${agent.displayName.replace('/', '').toLowerCase()}`} id={index} class={`max-sm:min-w-full max-w-[300px] max-h-[500px] flex flex-col container overflow-hidden`} style={`background-image: radial-gradient(circle, #${agent.backgroundGradientColors[0]}, #${agent.backgroundGradientColors[1]})`}>
      <div class="w-full h-[475px] relative">
        <Image src={agent.background} alt={`background-${agent.displayName}`} inferSize={true} format="avif" class="w-full h-full object-cover absolute" />
        <Image src={agent.bustPortrait} alt={`bust-portrait-${agent.displayName}`} inferSize={true} format="avif" class="w-full h-full object-cover absolute transition" id={`bustPortrait-${index}`} />
      </div>
      <p id={`displayName-${index}`} class="font-extrabold text-xl uppercase leading-6 py-3 px-4 py-auto bg-white transition-colors">{agent.displayName}</p>
    </a>
  ))
}

<style>
  p {
    font-family: 'Oswald Variable', sans-serif;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const $container = document.querySelectorAll(".container")
    
    $container.forEach((card, index) => {
      const $img = document.getElementById(`bustPortrait-${index}`)
      const $displayName = document.getElementById(`displayName-${index}`)

      card.addEventListener('mouseover', () => {
        $img.classList.add("scale-110")
        $displayName.classList.remove("bg-white")
        $displayName.classList.add("text-white")

      })
      
      card.addEventListener('mouseout', () => {
        $img.classList.remove("scale-110")
        $displayName.classList.add("bg-white")
        $displayName.classList.remove("text-white")
      })
    })

  })
</script>