---
import '@fontsource-variable/inter';
import { Image } from "astro:assets";
import icon0 from "../../public/abilities/0.png"
import icon1 from "../../public/abilities/1.png"
import icon2 from "../../public/abilities/2.png"
import icon3 from "../../public/abilities/3.png"
import icon4 from "../../public/abilities/4.png"
import valorantLogo from "../../public/valorant-logo.svg";
---



<header class="my-8">
  <div class="w-full h-auto flex flex-col sm:flex-row justify-between items-center gap-8">
    <div class="flex justify-between">
      <a href="/"><Image src={valorantLogo} alt="Logo de Valorant" class="h-10 w-auto sm:h-10" /></a>
    </div>
    <ul class="w-full sm:max-w-[300px] flex justify-between">
      <li><a href="/"><Image src={icon0} alt="Todos los agentes" title='Todos los agentes' class='size-10'></a></li>
      <li><a href="/agent/controladores"><Image src={icon1} alt="Controladores" title='Controladores' class='size-10'></a></li>
      <li><a href="/agent/duelistas"><Image src={icon2} alt="Duelistas" title='Duelistas' class='size-10'></a></li>
      <li><a href="/agent/iniciadores"><Image src={icon3} alt="Iniciadores" title='Iniciadores' class='size-10'></a></li>
      <li><a href="/agent/centinelas"><Image src={icon4} alt="Centinelas" title='Centinelas' class='size-10'></a></li>
    </ul>    
  </div>
</header>

<style>
  a {
    font-family: 'Inter Variable', sans-serif;
  }
</style>