---
import "@fontsource-variable/oswald";
import Layout from "../../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import particles from "../../../public/particles.svg"

export async function getStaticPaths() {
  const response = await fetch("https://valorant-api.com/v1/agents");
  const data = await response.json();

  return data.data.map((agent) => ({
    params: { agent: encodeURIComponent(agent.displayName.replace('/', '').toLowerCase()) },
    props: {
      bustPortrait: agent.bustPortrait,
      agent: agent.displayName,
      description: agent.description,
      role: agent.role,
    },
  }));
}

const {
  bustPortrait,
  agent,
  description,
  role,
} = Astro.props;

const { displayName, displayIcon } = role

export const prerender = true;
---

<Layout title={agent}>
  <section class="w-full h-auto xl:relative">

    <div class="relative w-full h-72 xl:h-[700px]">
      <Image src={particles} alt="" class="absolute w-full h-full object-cover" />
      <Image src={bustPortrait} alt="" inferSize={true} class="absolute w-auto h-full left-0 right-0 mx-auto xl:mr-10" />
    </div>

    <div class="text-white xl:absolute xl:top-0 xl:bottom-0 xl:flex xl:flex-col xl:justify-center">
      <h1 class="text-6xl xl:text-[150px] uppercase italic font-bold my-4 tracking-tighter leading-none">{agent}</h1>
      <p class="max-sm:text-sm font-medium uppercase description max-w-[700px]">{description}</p>
      
      <div class="size-[130px] border border-[#FA4453] relative mt-4">
        <div class="box">
          <div class="absolute w-full h-full flex flex-col justify-center items-center gap-4">
            <Image src={displayIcon} alt="" inferSize={true} class="size-8" />
            <div class="text-center">
              <p class="text-[10px] mb-1">ROLE</p>
              <p class="text-[10px] uppercase text-[#FA4453]">{displayName}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    
  </section>

  <style>
    h1,
    .description {
      font-family: "Oswald Variable", sans-serif;
    }

    .box::before {
      content: "";
      display: inline-block;
      position: absolute;
      opacity: 0.7;
      background-color: rgb(6, 10, 14);
      inset: 0px;
      width: 104px;
      height: 104px;
      margin: auto;
    }
  </style>
</Layout>
